In [1]:
"""
My name is Andrew Dodds and this script was developed on 11/18/2025.

The goal for this project is to build a predictive model for a binary classification problem
using supervised learning for predicting class labels with the dependent variable as y.

The data set provided requires proprocessing to be able to use for modeling. In this script,
I will clean, prepare, and pre-process the data by handling strings, missing data, and columns that
may not be useful for prediction. Next, I will provide relevant visualizations of the data to check
and identify any data issues, show correlations, and find potential good features.

I will be following the general steps provided in Week 12 lab.
"""

'\nMy name is Andrew Dodds and this script was developed on 11/18/2025.\n\nThe goal for this project is to build a predictive model for a binary classification problem\nusing supervised learning for predicting class labels with the dependent variable as y.\n\nThe data set provided requires proprocessing to be able to use for modeling. In this script,\nI will clean, prepare, and pre-process the data by handling strings, missing data, and columns that\nmay not be useful for prediction. Next, I will provide relevant visualizations of the data to check\nand identify any data issues, show correlations, and find potential good features.\n\nI will be following the general steps provided in Week 12 lab.\n'

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
# Read the data from the CSV file into a DataFrame and display the data
pd.set_option('display.max_columns', None) # Display alone does not work because there are too many columns so force display all columns
data = pd.read_csv('new_train_EGN5442.csv')
originalData = data # Storing the unmodified data for later use
display(data)


'''
Initial observations:
- The unnamed column looks like a copy of the index so not needed
- x2 is # followed by a bunch of numbers
- x5 - x23 nothing stands out yet
- x24 floats instead of ints
- x25 and x26 look like binary values (D_C or L_C) and (Bt or PT)
- x29 string with opening "(", numbers, and then "&&)" to end the string
- x30 looks like a column with no useful information
- x31 has a lot of rows with value "inf" so will have to deal with it later on
- x4 the entire column is 4
- x6 nothing out of the ordinary
'''

,Unnamed: 0,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,0,1,#54359,Female,50,5,5,5,4,3,5,3,3,4,5,5,3,4,3,21,12.0,D_C,Bt,1,(192&&),NaN,2.380952,4,50
1,1,1,#84649,Female,44,1,1,1,1,3,3,1,4,4,4,4,4,4,2,0,0.0,L_C,Bt,1,(1034&&),NaN,inf,4,44
2,2,0,#59015,Female,72,3,1,5,5,3,2,2,3,3,3,3,1,3,2,0,8.0,L_C,Bt,3,(1452&&),NaN,inf,4,72
3,3,0,#99990,Female,38,1,3,1,3,5,1,5,5,2,4,4,1,4,5,0,0.0,L_C,PT,3,(916&&),NaN,inf,4,38
4,4,1,#83569,Male,37,5,5,5,5,2,5,5,4,4,4,4,4,4,5,0,0.0,L_C,Bt,1,(390&&),NaN,inf,4,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104717,104717,1,#30483,Male,27,5,5,5,5,5,5,5,5,3,2,5,3,5,5,70,38.0,L_C,Bt,1,(1371&&),NaN,0.385714,4,27
104718,104718,0,#23530,Female,62,1,4,4,4,4,2,4,1,1,1,1,3,1,3,6,33.0,L_C,Bt,2,(1703&&),NaN,10.333333,4,62
104719,104719,0,#88477,Male,45,3,4,3,5,1,3,1,1,3,3,5,3,4,1,16,7.0,L_C,PT,3,(562&&),NaN,2.812500,4,45
104720,104720,0,#17164,Male,57,2,4,2,2,4,2,4,4,3,4,5,2,3,4,0,0.0,L_C,PT,2,(315&&),NaN,inf,4,57
104721,104721,1,#93814,Female,59,3,3,3,3,2,5,5,2,2,2,2,3,2,4,56,33.0,L_C,Bt,1,(377&&),NaN,1.053571,4,59

'\nInitial observations:\n- The unnamed column looks like a copy of the index so not needed\n- x2 is # followed by a bunch of numbers\n- x5 - x23 nothing stands out yet\n- x24 floats instead of ints\n- x25 and x26 look like binary values (D_C or L_C) and (Bt or PT)\n- x29 string with opening "(", numbers, and then "&&)" to end the string\n- x30 looks like a column with no useful information\n- x31 has a lot of rows with value "inf" so will have to deal with it later on\n- x4 the entire column is 4\n- x6 nothing out of the ordinary\n'

In [ ]:
data.nunique()
'''
nunique confirms that x4 is all 4s, x25 and x26 are binary
and x30 is a completely broken column
'''

Unnamed: 0    104722
y                  2
x2            103904
x3                 2
x5                75
x9                 6
x10                6
x11                6
x12                6
x13                6
x14                6
x15                6
x16                6
x17                6
x18                6
x19                5
x20                6
x21                6
x22                6
x23              446
x24              455
x25                2
x26                2
x28                3
x29             3802
x30                0
x31             5541
x4                 1
x6                75
dtype: int64

In [7]:
data.describe()

C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\lib\_function_base_impl.py:4671: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,Unnamed: 0,y,x5,x9,x10,x11,x12,x13,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x28,x30,x31,x4,x6
count,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104722.000000,104410.000000,104722.000000,0.0,1.047220e+05,104722.0,104722.000000
mean,52360.500000,0.431380,39.189273,2.728892,3.062986,2.755591,2.977187,3.201419,3.436317,3.356458,3.380932,3.350127,3.632570,3.303909,3.641088,3.285155,14.818405,15.188909,1.976089,NaN,inf,4.0,39.189273
std,30230.781782,0.495271,15.208026,1.326905,1.525021,1.398492,1.277116,1.329776,1.320007,1.333305,1.288250,1.315726,1.180091,1.265508,1.175039,1.312749,38.305687,38.785838,0.962887,NaN,NaN,0.0,15.208026
min,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,9.668508e-03,4.0,7.000000
25%,26180.250000,0.000000,27.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,1.000000,NaN,3.000000e+00,4.0,27.000000
50%,52360.500000,0.000000,40.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,2.000000,NaN,NaN,4.0,40.000000
75%,78540.750000,1.000000,51.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,3.000000,NaN,NaN,4.0,51.000000
max,104721.000000,1.000000,85.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000,3.000000,NaN,inf,4.0,85.000000

In [8]:
data.info()
# Based on data.info(), columns x2, x3, x14, x25, x26, x29 are all objects that need to be cleaned and formatted befored used in a model

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104722 entries, 0 to 104721
Data columns (total 29 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  104722 non-null  int64
 1   y           104722 non-null  int64
 2   x2          104722 non-null  object
 3   x3          104722 non-null  object
 4   x5          104722 non-null  int64
 5   x9          104722 non-null  int64
 6   x10         104722 non-null  int64
 7   x11         104722 non-null  int64
 8   x12         104722 non-null  int64
 9   x13         104722 non-null  int64
 10  x14         104722 non-null  object
 11  x15         104722 non-null  int64
 12  x16         104722 non-null  int64
 13  x17         104722 non-null  int64
 14  x18         104722 non-null  int64
 15  x19         104722 non-null  int64
 16  x20         104722 non-null  int64
 17  x21         104722 non-null  int64
 18  x22         104722 non-null  int64
 19  x23         104722 non-null  int64
 20  x24         104410 non-null  float64
 21  x25         104722 non-null  object
 22  x26         104722 non-null  object
 23  x28         104722 non-null  int64
 24  x29         104722 non-null  object
 25  x30         0 non-null       float64
 26  x31         104722 non-null  float64
 27  x4          104722 non-null  int64
 28  x6          104722 non-null  int64
dtypes: float64(3), int64(20), object(6)
memory usage: 23.2+ MB

In [9]:
display(data[["x2", "x3", "x14", "x25", "x26", "x29"]]) # look at the contents of the column
'''
Based on data.nunique(),
x14 is just 6 numbers that are formatted as strings
x25 and x26 are binary values (D_C or L_C) and (Bt or PT), no need to worry about any other values
x3 nunique is 2 so just female and male
'''

            x2      x3 x14  x25 x26       x29
0       #54359  Female   5  D_C  Bt   (192&&)
1       #84649  Female   3  L_C  Bt  (1034&&)
2       #59015  Female   2  L_C  Bt  (1452&&)
3       #99990  Female   1  L_C  PT   (916&&)
4       #83569    Male   5  L_C  Bt   (390&&)
...        ...     ...  ..  ...  ..       ...
104717  #30483    Male   5  L_C  Bt  (1371&&)
104718  #23530  Female   2  L_C  Bt  (1703&&)
104719  #88477    Male   3  L_C  PT   (562&&)
104720  #17164    Male   2  L_C  PT   (315&&)
104721  #93814  Female   5  L_C  Bt   (377&&)

[104722 rows x 6 columns]

'\nBased on data.nunique(),\nx14 is just 6 numbers that are formatted as strings\nx25 and x26 are binary values (D_C or L_C) and (Bt or PT), no need to worry about any other values\nx3 nunique is 2 so just female and male\n'

In [10]:
'''
Before working on cleaning the data, I am going to remove
all of the columns that do not have any useful data for logistic regression.

x30 is NaN for the entire column so it will not be useful for regression
x4 is all 4 so there is no need to use it for regression
The unnamed: 0 column repeates the index in the table which is also unnecessary for regression
'''
display(data[["Unnamed: 0", "x4", "x30"]])

        Unnamed: 0  x4  x30
0                0   4  NaN
1                1   4  NaN
2                2   4  NaN
3                3   4  NaN
4                4   4  NaN
...            ...  ..  ...
104717      104717   4  NaN
104718      104718   4  NaN
104719      104719   4  NaN
104720      104720   4  NaN
104721      104721   4  NaN

[104722 rows x 3 columns]

In [15]:
# Removing the three unnecessary columns
data = data.drop("Unnamed: 0", axis = 1)
data = data.drop("x4", axis = 1)
data = data.drop("x30", axis = 1)
display(data)

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x28,x29,x31,x6
0,1,#54359,Female,50,5,5,5,4,3,5,3,3,4,5,5,3,4,3,21,12.0,D_C,Bt,1,(192&&),2.380952,50
1,1,#84649,Female,44,1,1,1,1,3,3,1,4,4,4,4,4,4,2,0,0.0,L_C,Bt,1,(1034&&),inf,44
2,0,#59015,Female,72,3,1,5,5,3,2,2,3,3,3,3,1,3,2,0,8.0,L_C,Bt,3,(1452&&),inf,72
3,0,#99990,Female,38,1,3,1,3,5,1,5,5,2,4,4,1,4,5,0,0.0,L_C,PT,3,(916&&),inf,38
4,1,#83569,Male,37,5,5,5,5,2,5,5,4,4,4,4,4,4,5,0,0.0,L_C,Bt,1,(390&&),inf,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104717,1,#30483,Male,27,5,5,5,5,5,5,5,5,3,2,5,3,5,5,70,38.0,L_C,Bt,1,(1371&&),0.385714,27
104718,0,#23530,Female,62,1,4,4,4,4,2,4,1,1,1,1,3,1,3,6,33.0,L_C,Bt,2,(1703&&),10.333333,62
104719,0,#88477,Male,45,3,4,3,5,1,3,1,1,3,3,5,3,4,1,16,7.0,L_C,PT,3,(562&&),2.812500,45
104720,0,#17164,Male,57,2,4,2,2,4,2,4,4,3,4,5,2,3,4,0,0.0,L_C,PT,2,(315&&),inf,57
104721,1,#93814,Female,59,3,3,3,3,2,5,5,2,2,2,2,3,2,4,56,33.0,L_C,Bt,1,(377&&),1.053571,59

In [16]:
'''
Are there any string or datetime columns? How to deal with them? Use the apply() with
user-defined functions (or lambda expressions) when appropriate.

Based on what was found above the only columns that need cleaned are "x2", "x3", "x14", "x25", "x26", "x29"
'''

def cleanX2(value):
  # Each string in x2 is a # followed by a number so just remove the # and convert string to int
  return int(value[1:])
data["x2"] = data["x2"].apply(cleanX2) # Apply cleanX2 to each row

def cleanX3(gender):
  # This is just a binary column so set Male to 1 and Female to 0
  if gender == "Male":
    return 1
  else:
    return 0
data["x3"] = data["x3"].apply(cleanX3) # Apply cleanX3 to each row

def cleanX14(value): # Convert each of the strings to int
  # invalid literal for int() with base 10: ' ' so theres some empty strings that need fixed
  if value == " ":
    return np.nan # Clean these rows later on
  else:
    return int(value)
data["x14"] = data["x14"].apply(cleanX14) # Apply cleanX14 to each row

def cleanX25(value): # Convert L_C and D_C to 0 and 1
  if (value == "L_C"):
    return 1
  else:
    return 0
data["x25"] = data["x25"].apply(cleanX25) # Apply cleanX25 to each row

def cleanX26(value): # Convert Bt and PT to 0 and 1
  if (value == "PT"):
    return 1
  else:
    return 0
data["x26"] = data["x26"].apply(cleanX26) # Apply cleanX26 to each row

def cleanX29(value): # Look at the string and add only the ints to a new string and return
  intString = ""
  for char in value:
    if char.isdigit():
      intString += char
  return int(intString)
data["x29"] = data["x29"].apply(cleanX29) # Apply cleanX29 to each row

display(data[["x2", "x3", "x14", "x25", "x26", "x29"]])

           x2  x3  x14  x25  x26   x29
0       54359   0  5.0    0    0   192
1       84649   0  3.0    1    0  1034
2       59015   0  2.0    1    0  1452
3       99990   0  1.0    1    1   916
4       83569   1  5.0    1    0   390
...       ...  ..  ...  ...  ...   ...
104717  30483   1  5.0    1    0  1371
104718  23530   0  2.0    1    0  1703
104719  88477   1  3.0    1    1   562
104720  17164   1  2.0    1    1   315
104721  93814   0  5.0    1    0   377

[104722 rows x 6 columns]

In [17]:
data.info()
# Data is looking much better, all thats left is to handle missing values in the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104722 entries, 0 to 104721
Data columns (total 26 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   y       104722 non-null  int64
 1   x2      104722 non-null  int64
 2   x3      104722 non-null  int64
 3   x5      104722 non-null  int64
 4   x9      104722 non-null  int64
 5   x10     104722 non-null  int64
 6   x11     104722 non-null  int64
 7   x12     104722 non-null  int64
 8   x13     104722 non-null  int64
 9   x14     102251 non-null  float64
 10  x15     104722 non-null  int64
 11  x16     104722 non-null  int64
 12  x17     104722 non-null  int64
 13  x18     104722 non-null  int64
 14  x19     104722 non-null  int64
 15  x20     104722 non-null  int64
 16  x21     104722 non-null  int64
 17  x22     104722 non-null  int64
 18  x23     104722 non-null  int64
 19  x24     104410 non-null  float64
 20  x25     104722 non-null  int64
 21  x26     104722 non-null  int64
 22  x28     104722 non-null  int64
 23  x29     104722 non-null  int64
 24  x31     104722 non-null  float64
 25  x6      104722 non-null  int64
dtypes: float64(3), int64(23)
memory usage: 20.8 MB

In [18]:
data.isna() # Check for missing data

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x28,x29,x31,x6
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104717,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
104718,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
104719,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
104720,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
104721,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
data.isna().sum() # Find the total missing data per column
# Looks like x14 had a lot of empty strings and x24 is also missing some values

y         0
x2        0
x3        0
x5        0
x9        0
x10       0
x11       0
x12       0
x13       0
x14    2471
x15       0
x16       0
x17       0
x18       0
x19       0
x20       0
x21       0
x22       0
x23       0
x24     312
x25       0
x26       0
x28       0
x29       0
x31       0
x6        0
dtype: int64

In [20]:
# https://stats.stackexchange.com/questions/143700/which-is-better-replacement-by-mean-and-replacement-by-median
# For x24 and x14 since the columns do not contain extreme outliers I will replace missing values with mean
# There are alot of missing values in x14 so I will revisit if this has a negative impact on the models
data["x14"] = data["x14"].fillna(data["x14"].mean())
data["x24"] = data["x24"].fillna(data["x24"].mean())
display(data)

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x28,x29,x31,x6
0,1,54359,0,50,5,5,5,4,3,5.0,3,3,4,5,5,3,4,3,21,12.0,0,0,1,192,2.380952,50
1,1,84649,0,44,1,1,1,1,3,3.0,1,4,4,4,4,4,4,2,0,0.0,1,0,1,1034,inf,44
2,0,59015,0,72,3,1,5,5,3,2.0,2,3,3,3,3,1,3,2,0,8.0,1,0,3,1452,inf,72
3,0,99990,0,38,1,3,1,3,5,1.0,5,5,2,4,4,1,4,5,0,0.0,1,1,3,916,inf,38
4,1,83569,1,37,5,5,5,5,2,5.0,5,4,4,4,4,4,4,5,0,0.0,1,0,1,390,inf,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104717,1,30483,1,27,5,5,5,5,5,5.0,5,5,3,2,5,3,5,5,70,38.0,1,0,1,1371,0.385714,27
104718,0,23530,0,62,1,4,4,4,4,2.0,4,1,1,1,1,3,1,3,6,33.0,1,0,2,1703,10.333333,62
104719,0,88477,1,45,3,4,3,5,1,3.0,1,1,3,3,5,3,4,1,16,7.0,1,1,3,562,2.812500,45
104720,0,17164,1,57,2,4,2,2,4,2.0,4,4,3,4,5,2,3,4,0,0.0,1,1,2,315,inf,57
104721,1,93814,0,59,3,3,3,3,2,5.0,5,2,2,2,2,3,2,4,56,33.0,1,0,1,377,1.053571,59

In [21]:
data.isna().sum()

y      0
x2     0
x3     0
x5     0
x9     0
x10    0
x11    0
x12    0
x13    0
x14    0
x15    0
x16    0
x17    0
x18    0
x19    0
x20    0
x21    0
x22    0
x23    0
x24    0
x25    0
x26    0
x28    0
x29    0
x31    0
x6     0
dtype: int64

In [22]:
# Now that there are no missing values the last thing to do is to deal with the inf values in x31
def cleanX31(value): # Convert inf to nan then nan to mean
  if (value == np.inf):
    return np.nan
  else:
    return value
data["x31"] = data["x31"].apply(cleanX31) # Apply cleanX31 to each row
data["x31"] = data["x31"].fillna(data["x31"].mean())

In [23]:
display(data)

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x28,x29,x31,x6
0,1,54359,0,50,5,5,5,4,3,5.0,3,3,4,5,5,3,4,3,21,12.0,0,0,1,192,2.380952,50
1,1,84649,0,44,1,1,1,1,3,3.0,1,4,4,4,4,4,4,2,0,0.0,1,0,1,1034,6.415983,44
2,0,59015,0,72,3,1,5,5,3,2.0,2,3,3,3,3,1,3,2,0,8.0,1,0,3,1452,6.415983,72
3,0,99990,0,38,1,3,1,3,5,1.0,5,5,2,4,4,1,4,5,0,0.0,1,1,3,916,6.415983,38
4,1,83569,1,37,5,5,5,5,2,5.0,5,4,4,4,4,4,4,5,0,0.0,1,0,1,390,6.415983,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104717,1,30483,1,27,5,5,5,5,5,5.0,5,5,3,2,5,3,5,5,70,38.0,1,0,1,1371,0.385714,27
104718,0,23530,0,62,1,4,4,4,4,2.0,4,1,1,1,1,3,1,3,6,33.0,1,0,2,1703,10.333333,62
104719,0,88477,1,45,3,4,3,5,1,3.0,1,1,3,3,5,3,4,1,16,7.0,1,1,3,562,2.812500,45
104720,0,17164,1,57,2,4,2,2,4,2.0,4,4,3,4,5,2,3,4,0,0.0,1,1,2,315,6.415983,57
104721,1,93814,0,59,3,3,3,3,2,5.0,5,2,2,2,2,3,2,4,56,33.0,1,0,1,377,1.053571,59

In [ ]:
# Are there any duplicated rows? How to deal with the duplicated data?
data.duplicated()
data.drop_duplicates() # Removed around 800 rows

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x28,x29,x31,x6
0,1,54359,0,50,5,5,5,4,3,5.0,3,3,4,5,5,3,4,3,21,12.0,0,0,1,192,2.380952,50
1,1,84649,0,44,1,1,1,1,3,3.0,1,4,4,4,4,4,4,2,0,0.0,1,0,1,1034,6.415983,44
2,0,59015,0,72,3,1,5,5,3,2.0,2,3,3,3,3,1,3,2,0,8.0,1,0,3,1452,6.415983,72
3,0,99990,0,38,1,3,1,3,5,1.0,5,5,2,4,4,1,4,5,0,0.0,1,1,3,916,6.415983,38
4,1,83569,1,37,5,5,5,5,2,5.0,5,4,4,4,4,4,4,5,0,0.0,1,0,1,390,6.415983,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104717,1,30483,1,27,5,5,5,5,5,5.0,5,5,3,2,5,3,5,5,70,38.0,1,0,1,1371,0.385714,27
104718,0,23530,0,62,1,4,4,4,4,2.0,4,1,1,1,1,3,1,3,6,33.0,1,0,2,1703,10.333333,62
104719,0,88477,1,45,3,4,3,5,1,3.0,1,1,3,3,5,3,4,1,16,7.0,1,1,3,562,2.812500,45
104720,0,17164,1,57,2,4,2,2,4,2.0,4,4,3,4,5,2,3,4,0,0.0,1,1,2,315,6.415983,57
104721,1,93814,0,59,3,3,3,3,2,5.0,5,2,2,2,2,3,2,4,56,33.0,1,0,1,377,1.053571,59

In [ ]:
data.to_csv('p3_cleaned_data.csv')

In [ ]:
%ls

 avocado.csv                          mortality_wide.pkl
 cleaned_data_project3.csv            new_train_EGN5442.csv
 customers.csv                        oesm18all/
 CXR_Selected-Image-Dataset_Log.csv   oesm18all.zip
 deaths_by_age_group_line.png         p3_cleaned_data.csv
 diabetes2.csv                        president_polls_2016.csv
 exams_1.csv                          ramen_ratings.csv
 exams_2.csv                          RDS-2013-0009.4_SQLITE.zip
 exams.csv                           'Release Notes 7218.pdf'
 FPA_FOD_20170508.sqlite              rules.txt
 GSS7218_R3.DTA                       shots.json
 GSS_Codebook.pdf                     test3.txt
 gss_stata_with_codebook.zip          test.txt
 housingData.csv                      thanksgiving.csv
 insurance.csv                        tictac_final.txt
 members.csv                          tictac_single.txt
 members.txt                          Titanic_test.csv
 mortality.csv                        Titanic_train.csv
 mortality_prepped.pkl                workData.pkl